<div class="container pt-4 carousel-desktop px-0">
    <div class="slider-92911">
        <div class="owl-carousel slide-one-item">
            <div class="d-md-flex testimony-29101 align-items-stretch ">
                <div class="image" style="background-image: url('/image/akbankcarousel.png'); "></div>
                <div class="text">
                    <blockquote>
                        <p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, at! Atque totam obcaecati veniam eius vero, similique quibusdam! Sunt sequi, nemo. Quam consequuntur ipsum suscipit repellat molestiae laboriosam, incidunt!&rdquo;</p>

                        <div class="author">&mdash; Jean Stephen</div>
                    </blockquote>
                </div>
            </div>
            <div class="d-md-flex testimony-29101 align-items-stretch">
                <div class="text">
                    <blockquote>
                        <h5>Kadın KOBİ'ler şimdi daha güçlü</h5>
                        <p>Kadın KOBİ Paketi ile üreten ve çalışan kadınları her adımda destekliyoruz.</p>
                    </blockquote>
                </div>
                <div class="image" style="background-image: url('/image/akbankcarousel.png'); "></div>

            </div>
            <div class="d-md-flex testimony-29101 align-items-stretch">
                <div class="text">
                    <blockquote>
                        <h5>Kadın KOBİ'ler şimdi daha güçlü</h5>
                        <p>Kadın KOBİ Paketi ile üreten ve çalışan kadınları her adımda destekliyoruz.</p>
                        <button class="btn btn-slider">Detaylı Bilgi</button>
                    </blockquote>
                </div>
                <div class="image" style="background-image: url('/image/AkbankKadinKOBI_Iletisimi_AkbankCom_940x295.png'); "></div>

            </div>
        </div>

        <div class="text-center">
            <ul class="thumbnail">
                <div class="btn-group" style="min-width:744px!important;" role="group" aria-label="Basic mixed styles example">
                <li class="active"><button type="button" class="btn btn-slider-out">Mobilden Akbanklıya Özel</button></li>
                <li><button type="button" class="btn btn-slider-out">Akbank Yatırım Hizmetleri</button></li>
                <li><button type="button" class="btn btn-slider-out">Kadın Kobi Paketi</button></li>
                <li class="active"><button type="button" class="btn btn-slider-out">SGK Emekli Promosyonu</button></li>
                <li class="active"><button type="button" class="btn btn-slider-out">WinWin Hesap</button></li>
                <li class="active"><button type="button" class="btn btn-slider-out">Akbanklı Ol</button></li>
</div>
        </ul>
    </div>
</div>
</div>
