<div class="container pt-4 pt-md-5 d-flex">
    <div class="row bg-sw doviz-box x_axis_center p-2">
        <h5 class="text-uppercase" style="font-size:14px!important;font-weight:500;">Akbank Yatırımcı Özetİ</h5>
        <div class="col-md-3">
            <div class="row">
                <div class="col-12 text-left" style="text-align:left!important;"><strong>BIST 100</strong><span id="usdRateDirectionCalc" class="ico down"></span></div>
                <div class="row">
                    <div class="text-left col-4" style="text-align:left!important;"><label id="usdratecalc" class="usdratecalc" data-id="USD/TRL.dailyChangePercentage">% 2.118</label></div>
                    <div class="col-8 text-right">11,6890</div>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-4 text-left" style="text-align:left!important;"><strong>USD</strong><span id="usdRateDirectionCalc" class="ico down"></span></div>
                <div class="label-buy col-4">Alış</div>
                <div class="label-sell col-4">Satış</div>
                <div class="text-left col-4" style="text-align:left!important;"><label id="usdratecalc" class="usdratecalc" data-id="USD/TRL.dailyChangePercentage">% 2.118</label></div>
                <div class="col-4">10,4890</div>
                <div class="col-4">11,6890</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-4 text-left" style="text-align:left!important;"><strong>EUR</strong><span id="usdRateDirectionCalc" class="ico down"></span></div>
                <div class="label-buy col-4">Alış</div>
                <div class="label-sell col-4">Satış</div>
                <div class="text-left col-4" style="text-align:left!important;"><label id="usdratecalc" class="usdratecalc" data-id="USD/TRL.dailyChangePercentage">% 2.118</label></div>
                <div class="col-4">10,4890</div>
                <div class="col-4">11,6890</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-4 text-left" style="text-align:left!important;"><strong>ALTIN</strong><span id="usdRateDirectionCalc" class="ico down"></span></div>
                <div class="label-buy col-4">Alış</div>
                <div class="label-sell col-4">Satış</div>
                <div class="text-left col-4" style="text-align:left!important;"><label id="usdratecalc" class="usdratecalc" data-id="USD/TRL.dailyChangePercentage">% 2.118</label></div>
                <div class="col-4">10,4890</div>
                <div class="col-4">11,6890</div>
            </div>
        </div>
    </div>
</div>
<div class="container bg-sw border border-top-0">
    <div class="row">
        <div style="padding:8px 14px; font-size:13px!important;" class="col-12 col-md-6 son-guncelleme text-left">
            Son Güncellenme: 25.12.2021 21:02:02
        </div>
        <div class="col-12 col-md-6 doviz-secenek text-right" style="line-height:35px">
            <a href="#">Hesapla |</a>
            <a href="#">Hemen Al/Sat |</a>
            <a href="#">Tüm Döviz Kurları |</a>
            <a href="#">Akbank Yatırımcı</a>
        </div>
    </div>
</div>