<section id="footer" class="mt-5">
    <div class="container ">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Kendim İçin</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/Home/SignUp"><i class="fa fa-angle-double-right"></i>Bireysel Bankacılık Kayıt</a></li>
                    <li><a href="/Home/SignIn"><i class="fa fa-angle-double-right"></i>Bireysel Bankacılık Giriş</a></li>
                    <li><a href="/Home/SignIn"><i class="fa fa-angle-double-right"></i>Neden Bireysel Bankacılık?</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Site Kısayolları</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Anasayfa</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Hakkımızda</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Vizyon / Misyon</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>Gizlilik Sözleşmesi</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i>S.S.S</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Şirketim İçin</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/Home/SignUp"><i class="fa fa-angle-double-right"></i>KOBİ Bankacılığı</a></li>    
                    <li><a href="/Home/SignIn"><i class="fa fa-angle-double-right"></i>Neden KOBİ Bankacılık?</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>