<div class="container login_btn_mobile">
    <div class="row">
        <div class="col-12 text-center pt-4">
            <a href="/Home/SignUp"><button class="btn-arbank"><span class="fw-bold">AKBANK</span> Mobil'e Giriş</button></a> 
        </div>
    </div>
</div>