
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">
    <div class="container">
        <a class="navbar-brand mr-auto mr-lg-0 p-0" href="#">

            <img src="~/image/logo-akbank.png" class="img-fluid" width="75%" style="padding: 6px 10px 11px 10px;" />
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse d-grid" style="z-index: 56454 !important; padding:0!important;" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto d-xl-none" style="padding-left:0!important;">
                <li class="nav-item active">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <div class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                        <p class="text-left text-white m-0">Hızlı Menü</p>
                                    </a>
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="">
                                <div class="card-block font-size-sm">
                                    <ul>
                                        <li class="nav-item"><a href="#" class="nav-link ">Paramı değerlendirmek istiyorum</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link ">Krediye ihtiyacım var</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link ">Kredi kartı başvurusu yapmak istiyorum</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link ">Ticari kredi kartı başvurusu yapmak istiyorum</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link ">Serbest Hesap başvurusu yapmak istiyorum</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link ">Doküman Merkezi</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link ">Akbanklı olmak istiyorum</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo" style="padding:10px!important;">
                                <div class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                        <p class="text-left text-white m-0" style="color:#aaa!important;">Kendim İçin</p>
                                    </a>
                                </div>
                            </div>

                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="">
                                <div class="card-block font-size-sm">
                                    <ul>
                                        <li class="nav-item"><a href="#" class="nav-link " style="color:#aaa!important;">Bireysel Bankacılık</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link " style="color:#aaa!important;">1e1 Bankacılık</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link " style="color:#aaa!important;">Akbank Private Banking</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree" style="padding:10px!important;">
                                <div class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                        <p class="text-left text-white m-0" style="color:#aaa!important;">İşim İçin</p>
                                    </a>
                                </div>
                            </div>

                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="">
                                <div class="card-block font-size-sm">
                                    <ul>
                                        <li class="nav-item"><a href="#" class="nav-link " style="color:#aaa!important;">KOBİ Bankacılığı</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link " style="color:#aaa!important;">Ticari Bankacılık</a></li>
                                        <li class="nav-item"><a href="#" class="nav-link " style="color:#aaa!important;">Kurumsal Bankacılık</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item" style="padding:0 10px;">
                    <a class="nav-link" href="#" style="color:#aaa!important;">Kampanyalarımız</a>
                </li>
                <li class="nav-item" style="padding:0 10px;">
                    <a class="nav-link" href="#" style="color:#aaa!important;">ATM ve Şubelerimiz</a>
                </li>
                <li class="nav-item" style="padding:0 10px;">
                    <a class="nav-link" href="#" style="color:#aaa!important;">Başvurum Nerede?</a>
                </li>
                <li class="nav-item" style="padding:0 10px;">
                    <a class="nav-link" href="#" style="color:#aaa!important;">İletişim Formu</a>
                </li>
                <li class="nav-item" style="padding:0 10px;">
                    <a class="nav-link" href="#" style="color:#aaa!important;">Güvenliğiniz İçin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="bg-sb">
    <div class="container">
        <div class="dropdown d-inline">
            <button class="btn btn-secondary dropdown-toggle font-size-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kendim için
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">
                    Bireysel Bankacılık Giriş
                    <p>Buradan bireysel bankacılık uygulamasına giriş yapabilirsiniz</p>
                </a>
                <a class="dropdown-item" href="#">
                    Bireysel Bankacılığa Kayıt
                    <p>Buradan bireysel bankacılık kaydı oluşturarak bizim aramıza katıl!</p>
                </a>
            </div>
        </div>
        <div class="dropdown d-inline">
            <button class="btn btn-secondary dropdown-toggle font-size-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                İşim için
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">
                    KOBİ Bankacılığı
                    <p>Küçük-orta ölçekli işletmenizin büyümesi için gerekli desteği sunar.</p>
                </a>
            </div>
        </div>
    </div>
</div>