<nav class=" bg-sw">
    <div class="container text-right p-2">
        <a href="/Home/SignUp" class="giris-buton btn-sm btn btn-outline-success">Bireysel</a>
        <a href="#" class="giris-buton btn-sm btn btn-outline-success">Kurumsal</a>
    </div>
</nav>