@using Microsoft.AspNetCore.Http
@using olbe.Entity
@model List<depoDto>

@{

    Layout = "~/Views/Shared/_UserLayout.cshtml";
    string fullname = Context.Session.GetString("fullname");
}

<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
              {
              "symbols": [
                {
                  "proName": "OANDA:SPX500USD",
                  "title": "SP 500"
                },
                {
                  "proName": "FX_IDC:EURUSD",
                  "title": "EUR/USD"
                },
                {
                  "proName": "BITSTAMP:BTCUSD",
                  "title": "BTC/USD"
                },
                {
                  "proName": "BITSTAMP:ETHUSD",
                  "title": "ETH/USD"
                }
              ],
              "colorTheme": "light",
              "isTransparent": false,
              "displayMode": "adaptive",
              "locale": "tr"
            }
    </script>
</div>
<div class="container">
    <div class="row">
        <div class="selamlama mt-4">
            <h1>Merhaba, @ViewBag.userNameSurname</h1>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-md-8">
            <div class="jumbotron text-white" style="border-radius:0!important;background-color:#ee3124!important;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/image/Akbank-Logo.png" class="img-fluid" />
                    </div>
                    <div class="col-md-8 pl-5">
                        <h2 class="fw-bold" style="font-family:'Segoe UI'">Nakite mi ihtiyacınız var?</h2>
                        <p>O ZAMAN ARBANK ZAMANGO İLE TANIŞIN!</p>
                        <button class="btn btn-secondary btn-sm" style="font-family:'Segoe UI'">DETAYLI BİLGİ</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div id="kurlar"></div>
            <script async src="https://dovizmix.com/dovizmix/js/dovizwidget.min.js" type="text/javascript" charset="utf-8"></script>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="row text-center m-0 p-0">
                    <div class="card-deck">
                        <div class="col-md-4">
                            <div class="card border-light mb-3">
                                <div class="card-header"><span class="text-white-50">Varlıklarım</span></div>
                                <div class="card-body">
                                    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                                </div>
                                <div class="card-footer">
                                    <span class="text-white-50">Toplam Varlığınız : @item.money TL  </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-light mb-3">
                                <div class="card-header"><span class=" text-white-50">Aktif Hesabım / Kredi Kartım</span>    </div>
                                <div class="card-body">

                                    <h5 class="card-title">
                                        <div class="row">
                                            <div class="col-6 text-left">
                                                AKBANK
                                            </div>
                                            <div class="col-6 text-right">
                                                @item.money TL
                                                <span class="text-muted text-right text-white-50" style="font-size:11px!important;">Kullanılabilir bakiye</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-left" style="font-size:13px!important;font-weight:bolder;">
                                                Çekmeköy
                                                <br /><BR />
                                                IBAN : @item.Iban
                                            </div>
                                        </div>
                                    </h5>


                                </div>
                                <div class="card-footer">
                                    <span class=" text-white-50" style="font-size:13px!important;">Kredi Kartınız Bulunmamaktadır.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-light mb-3">
                                <div class="card-header"><span class="text-white-50">Son İşlemlerim</span> </div>
                                <div class="card-body">
                                    <div class="row" style=" display: flex; vertical-align: middle; align-content: center; align-items: center;font-size:13px!important;">
                                        <div class="col-3">28 <br /> Aralık</div>
                                        <div class="col-9">AKBANK DİREKT GİRİŞ</div>
                                    </div>
                                    <hr />
                                    <div class="row" style=" display: flex; vertical-align: middle; align-content: center; align-items: center;font-size:13px!important;">
                                        <div class="col-3">28 <br /> Aralık</div>
                                        <div class="col-9">AKBANK DİREKT GİRİŞ</div>
                                    </div>
                                    <hr />
                                    <div class="row" style=" display: flex; vertical-align: middle; align-content: center; align-items: center;font-size:13px!important;">
                                        <div class="col-3">20 <br /> Aralık</div>
                                        <div class="col-9">HESAP EKSTRESİ</div>
                                    </div>
                                </div>
                                <div class="card-footer" style="font-size:12px!important; text-align:right!important;">
                                    <a href="#" class="text-white-50">Hepsini Gör -></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
            <script>
                var xValues = ["Serbest Hesap", "Vadesiz Hesap"];
                var yValues = [550, 176.50];
                var barColors = [
                    "#b91d47",
                    "#00aba9",
                    "#2b5797",
                    "#e8c3b9",
                    "#1e7145"
                ];

                new Chart("myChart", {
                    type: "doughnut",
                    data: {
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                    }
                });
            </script>
